<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <!-- Roll stylesheet into page for fast load -->
    <% css_path = sitemap.resources.select { |p| p.source_file.match(/style[.]scss$/) }.first %>
    <style>
        <%= css_path.render %>
    </style>
  </head>

  <body class="panel-calc mode-web">
    <%= partial "partials/svg" %>
    <%= partial "partials/form" %>
    <%= partial "partials/output" %>
    <article class="about panel" data-panel="about">
      <%= yield %>
    </article>
    <%= partial "partials/pager" %>

    <!-- Roll javascript into page for fast load -->
    <% app_js = sprockets.find_asset('script.js.erb').to_s %>
    <script>
    <%= defined?(Uglifier) ? Uglifier.compile(app_js) : app_js %>
    </script>
    <script type="text/javascript" src="//use.typekit.net/sol4hnp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </body>
</html>